.sources {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 250px;
  height: 70vh;
  overflow-y: auto;
  margin: 16px 0px;
  transition: 0.25s;
}

.group-container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  overflow-y: auto;
  transition: 0.25s;
  gap: 15px;
}
.group-container::-webkit-scrollbar {
  width: 4px;
}
.group-container::-webkit-scrollbar-track {
  background: none;
}
.group-container::-webkit-scrollbar-thumb {
  background-color: #a3b8bf;
  border-radius: 2px;
}
.group::before {
  content: attr(data-group);
  color: #a3b8bf;
}
.group-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
}
.group-nav__item {
  cursor: pointer;
}
.group-nav__item:hover,
.group-nav__item:focus,
.group-nav__item:active {
  font-weight: bold;
  color: #69db7e;
}

.source__item {
  line-height: 1;
  margin: 0.5em 1em;
  transition: 0.25s;
  cursor: pointer;
}

.source__item:hover,
.source__item:focus,
.source__item:active {
  font-weight: bold;
  color: #69db7e;
  transform: translateX(0.25em);
}

.source__item-name {
  white-space: nowrap;
}
