@charset "UTF-8";
@import url(../styles/normilize.css);
@font-face {
  font-family: "GeorgiaRegular";
  src: url("../fonts/Georgia/GeorgiaRegular/GeorgiaRegular.eot");
  src: url("../fonts/Georgia/GeorgiaRegular/GeorgiaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Georgia/GeorgiaRegular/GeorgiaRegular.woff") format("woff"), url("../fonts/Georgia/GeorgiaRegular/GeorgiaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
/* Color styles */
:root {
  --icon-width: 60px;
  --container-padding: 40px;
  --intro-flex-direction: row;
  --intro-margin-top: 90px;
  --intro-gap: 42px;
  --about-flex-direction: row;
  --about-gap: 120px;
  --help-section-container-gap: 60px;
  --help-list-justify-content: center;
  --help-list-row-gap: 55px;
  --help-list-column-gap: 120px;
  --help-list-child-item-gap: 30px;
  --donation-flex-direction: row;
  --donation-gap: 30px;
  --footer-padding-top: 40px;
  --footer-flex-wrap: nowrap;
  --footer-justify-content: space-between;
  --footer-column-gap: 160px;
  --footer-row-gap: 0px;
  --footer-contacts-gap: 40px;
  --footer-locations-gap: 34px;
  --sections-padding-top: 80px;
  --sections-padding-bottom: 100px;
  --pets-section-container-gap: 60px;
  --slider-wrapper-gap: 53px;
  --slider-gap: 90px;
}

/* Calculate line-height in px according to font-size */
/* Function for converting a px based font-size to rem. */
button, .button, .button-primary {
  font-family: "GeorgiaRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 1.375rem;
  letter-spacing: 0.06em;
  color: #292929;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 45px;
  justify-content: center;
  gap: 10px;
  height: 52px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  padding: 15px 45px;
  box-sizing: border-box;
  transition: all 200ms;
}
button > *, .button > *, .button-primary > * {
  align-self: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.icon--pet-food {
  display: inline-block;
  content: url("../assets/icon-pet-food.svg");
  width: var(--icon-width);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon--transportation {
  display: inline-block;
  content: url("../assets/icon-transportation.svg");
  width: var(--icon-width);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon--toys {
  display: inline-block;
  content: url("../assets/icon-toys.svg");
  width: var(--icon-width);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon--bowls-and-cups {
  display: inline-block;
  content: url("../assets/icon-bowls-and-cups.svg");
  width: var(--icon-width);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon--shampoos {
  display: inline-block;
  content: url("../assets/icon-shampoos.svg");
  width: var(--icon-width);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon--vitamins {
  display: inline-block;
  content: url("../assets/icon-vitamins.svg");
  width: var(--icon-width);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon--medicines {
  display: inline-block;
  content: url("../assets/icon-medicines.svg");
  width: var(--icon-width);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon--collars-leashes {
  display: inline-block;
  content: url("../assets/icon-collars-leashes.svg");
  width: var(--icon-width);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon--sleeping-area {
  display: inline-block;
  content: url("../assets/icon-sleeping-area.svg");
  width: var(--icon-width);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon--credit-card {
  content: url("../assets/credit-card.svg");
}

.icon--email {
  content: url("../assets/icon-email.svg");
}

.icon--phone {
  content: url("../assets/icon-phone.svg");
}

.icon--location {
  content: url("../assets/icon-pin.svg");
}

.icon--burger {
  display: none;
  line-height: 0;
  color: #292929;
}
.dark-section .icon--burger {
  color: #F1CDB3;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  color: #4C4C4C;
}

/* Text-size styles */
h1 {
  display: none;
}

h2 {
  font-family: "GeorgiaRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 2.75rem;
  line-height: 3.5625rem;
  letter-spacing: 0;
  color: #545454;
  margin: 0;
}

h3 {
  font-family: "GeorgiaRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 2.1875rem;
  line-height: 2.8125rem;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
}

h4 {
  font-family: "GeorgiaRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
}

h5 {
  font-family: "GeorgiaRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.0625rem;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
}

.paragraph-s {
  font-family: Arial;
  font-style: italic;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0;
  color: #B2B2B2;
}

a {
  color: inherit;
  text-decoration: inherit;
  box-sizing: border-box;
  transition: all 200ms;
}
a.active {
  border-bottom: 3px solid #F1CDB3;
  pointer-events: none;
}
@media (hover: hover) {
  a:hover {
    color: #292929;
  }
}

button, .button, .button-primary {
  transition: 0.8s;
}
button.button-primary, .button.button-primary, .button-primary.button-primary {
  background-color: #F1CDB3;
}
button.button-secondary, .button.button-secondary, .button-primary.button-secondary {
  border: 2px solid #F1CDB3;
  background-color: inherit;
}
button.button-round, .button.button-round, .button-primary.button-round {
  padding: 0;
  min-width: 52px;
  height: 52px;
  font-size: 1.25rem;
  line-height: 1.4375rem;
}
button.button-round.arrow-button, .button.button-round.arrow-button, .button-primary.button-round.arrow-button {
  line-height: 0;
}
button.button-round.arrow-button:before, .button.button-round.arrow-button:before, .button-primary.button-round.arrow-button:before {
  content: "🠔";
}
button.button-round.arrow-button.arrow-button-next, .button.button-round.arrow-button.arrow-button-next, .button-primary.button-round.arrow-button.arrow-button-next {
  transform: scale(-1, -1);
}
button.active, .button.active, .button-primary.active {
  background: #F1CDB3;
  border-color: #F1CDB3;
  pointer-events: none;
}
button.inactive, .button.inactive, .button-primary.inactive {
  background: none;
  border-color: #CDCDCD;
  color: #CDCDCD;
  pointer-events: none;
}
button.inactive:before, .button.inactive:before, .button-primary.inactive:before {
  color: #CDCDCD;
}
button.make-friend-button, .button.make-friend-button, .button-primary.make-friend-button {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (hover: hover) {
  button:hover, .button:hover, .button-primary:hover {
    background: #FDDCC4;
    border-color: #FDDCC4;
  }
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 var(--container-padding);
  box-sizing: border-box;
  overflow: auto;
}
.footer-section .container {
  padding-top: var(--footer-padding-top);
}

header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  gap: 40px;
}
header:last-child {
  margin-bottom: 30px;
}

nav {
  width: 443px;
  display: flex;
  justify-content: space-between;
}

.dark-section.top-section {
  background: url(../assets/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.dark-section.footer-section {
  background: url(../assets/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.pets-section, .donation-section {
  background: #F6F6F6;
}

.about-section .container, .pets-section .container, .help-section .container, .donation-section .container {
  padding-top: var(--sections-padding-top);
  padding-bottom: var(--sections-padding-bottom);
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 10px;
  min-width: max-content;
}
.logo .logo-title {
  font-family: "GeorgiaRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.1875rem;
  letter-spacing: 0.06em;
  color: #545454;
}
.dark-section .logo .logo-title {
  color: #F1CDB3;
}
.logo .logo-subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 0.9375rem;
  letter-spacing: 0.1em;
  color: #292929;
  margin-left: 4px;
}
.dark-section .logo .logo-subtitle {
  color: #FFFFFF;
}

.intro {
  display: flex;
  flex-direction: var(--intro-flex-direction);
  justify-content: space-between;
  gap: var(--intro-gap);
  margin-top: var(--intro-margin-top);
}

.not-only-container {
  flex: 2;
  display: flex;
  max-width: 460px;
  height: 400px;
  gap: 42px;
  align-self: center;
  flex-flow: column;
}
.not-only-container .not-only-header {
  max-width: 310px;
}

.puppy-image {
  flex: 3;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.about-section .container {
  display: flex;
  flex-direction: var(--about-flex-direction);
  align-items: center;
  gap: var(--about-gap);
  margin: auto;
  justify-content: center;
}
.about-section .container .about-text-block {
  max-width: 430px;
  display: flex;
  flex-flow: column;
  gap: 25px;
}
.about-section .container .about-text-block .about-header {
  max-width: 370px;
}

.pets-section .container {
  display: flex;
  flex-flow: column;
  gap: var(--pets-section-container-gap);
  align-items: center;
}
.pets-section .container .pets-header {
  max-width: 400px;
  text-align: center;
}

.help-section .container {
  display: flex;
  flex-flow: column;
  gap: var(--help-section-container-gap);
  align-items: center;
}
.help-section .container .help-header {
  max-width: 310px;
  text-align: center;
}

.help-list {
  display: flex;
  justify-content: var(--help-list-justify-content);
  flex-wrap: wrap;
  column-gap: var(--help-list-column-gap);
  row-gap: var(--help-list-row-gap);
  align-items: self-end;
}
.help-list > .child-item {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: var(--help-list-child-item-gap);
}

.slider-wrapper {
  display: flex;
  gap: var(--slider-wrapper-gap);
  align-items: center;
  max-width: 100%;
}

.slider {
  display: flex;
  gap: var(--slider-gap);
  overflow-x: hidden;
}

.our-pets-slider {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
  row-gap: 30px;
  overflow: hidden;
}
.our-pets-slider > .child-item:nth-child(n+9) {
  display: none;
}

.slider-card {
  min-width: 270px;
  display: flex;
  flex-flow: column;
  background: #FAFAFA;
  border-radius: 9px;
  cursor: pointer;
  transition: 0.8s;
}
.slider-card .card-name {
  font-family: "GeorgiaRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  letter-spacing: 0.06em;
  color: #545454;
}
.slider-card .card-info {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 30px;
  margin: 30px 0;
}
@media (hover: hover) {
  .slider-card:hover {
    background: #FFFFFF;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  }
  .slider-card:hover button, .slider-card:hover .button, .slider-card:hover .button-primary {
    background: #FDDCC4;
    border-color: #FDDCC4;
  }
}

.slider-controls {
  display: flex;
  gap: 20px;
}

.donation-section .container {
  display: flex;
  flex-direction: var(--donation-flex-direction);
  margin: auto;
  gap: var(--donation-gap);
  align-items: center;
  justify-content: center;
}
.donation-section .container .donation-text-block {
  max-width: 380px;
  display: flex;
  flex-flow: column;
  gap: 20px;
}
.donation-section .container .donation-text-block .donation-header {
  max-width: 300px;
}
.donation-section .container .donation-text-block .credit-card-block-wrapper {
  display: inline-block;
  background-color: #F1CDB3;
  padding: 10px 15px;
  border-radius: 9px;
}
.donation-section .container .donation-text-block .credit-card-block {
  display: flex;
  gap: 15px;
  line-height: 0;
  transition: all 500ms;
}
@media (hover: hover) {
  .donation-section .container .donation-text-block .credit-card-block:hover {
    opacity: 0.5;
  }
}

.footer-section .container {
  display: flex;
  flex-wrap: var(--footer-flex-wrap);
  justify-content: var(--footer-justify-content);
  column-gap: var(--footer-column-gap);
  row-gap: var(--footer-row-gap);
}
.footer-section .container > .child-item {
  max-width: 300px;
  min-width: 280px;
}
.footer-section .container > .child-item:first-child {
  flex: 0;
  margin-top: 1rem;
}
.footer-section .container > .child-item:nth-child(2) {
  flex: 1;
  margin-top: 1rem;
}
.footer-section .container > .child-item:last-child {
  flex: 1;
  min-width: 300px;
}
.footer-section .container .footer-contacts {
  display: flex;
  flex-flow: column;
  gap: var(--footer-contacts-gap);
}
.footer-section .container .footer-locations {
  display: flex;
  flex-flow: column;
  gap: var(--footer-locations-gap);
}
.footer-section .container .contact-link {
  display: flex;
  gap: 20px;
  align-items: center;
}

.dark-section {
  color: #CDCDCD;
}
.dark-section h1, .dark-section h2, .dark-section h3, .dark-section h4, .dark-section h5 {
  color: #FFFFFF;
}
@media (hover: hover) {
  .dark-section a:not(.button):hover {
    color: #FAFAFA;
  }
}
.dark-section a.active {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
  pointer-events: none;
}
.dark-section .footer-contacts a, .dark-section .footer-locations a {
  transition: all 500ms;
}
.dark-section .footer-contacts a *, .dark-section .footer-locations a * {
  color: #F1CDB3;
}
@media (hover: hover) {
  .dark-section .footer-contacts a:hover, .dark-section .footer-locations a:hover {
    opacity: 0.5;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 639px) {
  :root {
    --icon-width: 50px;
    --container-padding: 10px;
    --intro-flex-direction: column;
    --intro-margin-top: 60px;
    --intro-gap: 105px;
    --about-flex-direction: column-reverse;
    --help-section-container-gap: 42px;
    --help-list-justify-content: initial;
    --help-list-row-gap: 30px;
    --help-list-column-gap: 30px;
    --help-list-child-item-gap: 20px;
    --donation-flex-direction: column-reverse;
    --donation-gap: 42px;
    --sections-padding-top: 42px;
    --sections-padding-bottom: 42px;
    --about-gap: 42px;
    --footer-padding-top: 30px;
    --footer-flex-wrap: wrap;
    --footer-justify-content: center;
    --footer-row-gap: 40px;
    --footer-locations-gap: 40px;
    --pets-section-container-gap: 42px;
  }
  .h5-mobile {
    font-family: "GeorgiaRegular";
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.0625rem;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
  }
  h3, .h3-mobile {
    font-size: 1.5625rem;
    line-height: 2rem;
    letter-spacing: 0.06em;
  }
  .container {
    max-width: 100vw;
  }
  header {
    padding: 0 0.625rem;
  }
  .intro .not-only-container {
    text-align: center;
    align-items: center;
  }
  .intro .puppy-image img {
    max-width: 85vw;
  }
  .about-section .container .about-text-block {
    padding: 0 15px;
    text-align: justify;
  }
  .about-section .container .about-text-block .about-header {
    text-align: center;
  }
  .about-section .container .about-text-block > .child-item:last-child {
    margin-top: -3px;
  }
  .about-section .container .about-pets-img img {
    max-width: 81vw;
  }
  .slider {
    max-width: 270px;
  }
  .help-list > .child-item {
    flex-basis: calc((100% - var(--help-list-column-gap)) / 2);
    max-width: calc((100% - var(--help-list-column-gap)) / 2);
  }
  .donation-section .container .donation-text-block {
    padding: 0 9.5px;
    text-align: justify;
    align-items: center;
  }
  .donation-section .container .donation-text-block .donation-header {
    text-align: center;
  }
  .donation-section .container .donation-text-block .h5-subheading {
    line-height: 1.5rem;
    letter-spacing: initial;
    text-align: center;
  }
  .donation-section .container .donation-text-block .credit-card-block * {
    line-height: 1.5rem;
  }
  .donation-section .container .donation-dog-img {
    max-width: 81.5vw;
  }
  .footer-section .container > .child-item:nth-child(-n+2) {
    margin-top: 0;
  }
  .footer-section .container .footer-contacts {
    align-items: center;
  }
  .footer-section .container .footer-contacts-header, .footer-section .container .footer-locations-header {
    text-align: center;
  }
  .footer-section .container .footer-image {
    max-width: 81.2vw;
    margin: auto;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 640px) and (max-width: 1259px) {
  :root {
    --container-padding: 30px;
    --intro-flex-direction: column;
    --intro-margin-top: 60px;
    --intro-gap: 100px;
    --about-flex-direction: column-reverse;
    --about-gap: 80px;
    --help-list-column-gap: 60px;
    --donation-flex-direction: column-reverse;
    --donation-gap: 60px;
    --footer-padding-top: 30px;
    --footer-flex-wrap: wrap;
    --footer-justify-content: center;
    --footer-column-gap: 60px;
    --footer-row-gap: 65px;
    --footer-locations-gap: 33px;
  }
  .intro .not-only-container {
    max-width: 59.895vw;
  }
  .intro .make-friend-button {
    align-self: center;
  }
  .intro .puppy-image img {
    max-width: 75vw;
  }
  .about-section .container .about-text-block {
    min-width: 56vw;
  }
  .help-list {
    margin: 0 39px;
  }
  .help-list > .child-item {
    flex-basis: calc((100% - var(--help-list-column-gap) * 2) / 3);
    max-width: calc((100% - var(--help-list-column-gap) * 2) / 3);
  }
  .donation-section .container .donation-text-block {
    min-width: 49.5vw;
  }
  .footer-section .container > .child-item:nth-child(-n+2) {
    margin-top: 0;
  }
}
/* Burger menu styles */
@media only screen and (max-width: 767px) {
  .menu-block {
    display: none;
  }
  .icon--burger {
    display: block;
  }
}
/* Slider adaptive styles */
@media only screen and (max-width: 449px) {
  :root {
    --slider-wrapper-gap: 20px;
  }
  .slider-wrapper {
    max-width: 270px;
    flex-wrap: wrap;
    column-gap: 80px;
    justify-content: center;
  }
  .slider-wrapper .slider {
    order: -1;
    max-width: 270px;
  }
}
@media only screen and (min-width: 450px) and (max-width: 639px) {
  :root {
    --slider-wrapper-gap: 12px;
    --slider-gap: 40px;
  }
  .slider-wrapper .slider {
    max-width: 270px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  :root {
    --slider-wrapper-gap: 20px;
    --slider-gap: 40px;
  }
  .slider-wrapper {
    max-width: calc(540px + var(--slider-gap));
    flex-wrap: wrap;
    column-gap: 80px;
    justify-content: center;
  }
  .slider-wrapper .slider {
    order: -1;
    max-width: calc(540px + var(--slider-gap));
  }
}
@media only screen and (min-width: 768px) and (max-width: 1079px) {
  :root {
    --slider-wrapper-gap: 12px;
    --slider-gap: 40px;
  }
  .slider {
    max-width: calc(540px + var(--slider-gap));
  }
}
@media only screen and (min-width: 1080px) and (max-width: 1279px) {
  :root {
    --slider-wrapper-gap: 12px;
    --slider-gap: 40px;
  }
}
/* Our Pets slider's styles */
@media only screen and (max-width: 639px) {
  .our-pets-slider {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .our-pets-slider > .child-item:nth-child(n+4) {
    display: none;
  }
  .our-pets--pets-section.pets-section .slider-controls {
    gap: 10px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1279px) {
  .our-pets--pets-section.pets-section .container {
    gap: 0;
    padding-bottom: 76px;
  }
  .our-pets--pets-section.pets-section .container .pets-header {
    margin-bottom: 30px;
  }
  .our-pets--pets-section.pets-section .container .slider-wrapper {
    margin-bottom: 40px;
  }
  .our-pets-slider {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .our-pets-slider > .child-item:nth-child(n+7) {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
