@charset "UTF-8";
@import url(../styles/normilize.css);
@font-face {
  font-family: "GeorgiaRegular";
  src: url("../fonts/Georgia/GeorgiaRegular/GeorgiaRegular.eot");
  src: url("../fonts/Georgia/GeorgiaRegular/GeorgiaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Georgia/GeorgiaRegular/GeorgiaRegular.woff") format("woff"), url("../fonts/Georgia/GeorgiaRegular/GeorgiaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
/* Color styles */
/* Calculate line-height in px according to font-size */
button, .button, .button-primary {
  font-family: "GeorgiaRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 45px;
  justify-content: center;
  gap: 10px;
  height: 52px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  padding: 15px 45px;
  box-sizing: border-box;
  transition: all 200ms;
}
button > *, .button > *, .button-primary > * {
  align-self: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.icon--pet-food {
  display: inline-block;
  content: url("../assets/icon-pet-food.svg");
  width: 60px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon--transportation {
  display: inline-block;
  content: url("../assets/icon-transportation.svg");
  width: 60px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon--toys {
  display: inline-block;
  content: url("../assets/icon-toys.svg");
  width: 60px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon--bowls-and-cups {
  display: inline-block;
  content: url("../assets/icon-bowls-and-cups.svg");
  width: 60px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon--shampoos {
  display: inline-block;
  content: url("../assets/icon-shampoos.svg");
  width: 60px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon--vitamins {
  display: inline-block;
  content: url("../assets/icon-vitamins.svg");
  width: 60px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon--medicines {
  display: inline-block;
  content: url("../assets/icon-medicines.svg");
  width: 60px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon--collars-leashes {
  display: inline-block;
  content: url("../assets/icon-collars-leashes.svg");
  width: 60px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon--sleeping-area {
  display: inline-block;
  content: url("../assets/icon-sleeping-area.svg");
  width: 60px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon--credit-card {
  content: url("../assets/credit-card.svg");
}

.icon--email {
  content: url("../assets/icon-email.svg");
}

.icon--phone {
  content: url("../assets/icon-phone.svg");
}

.icon--location {
  content: url("../assets/icon-pin.svg");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0;
  color: #4C4C4C;
}

/* Text-size styles */
h1 {
  display: none;
}

h2 {
  font-family: "GeorgiaRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 57px;
  letter-spacing: 0;
  color: #545454;
  margin: 0;
}

h3 {
  font-family: "GeorgiaRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
}

h4 {
  font-family: "GeorgiaRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
}

h5 {
  font-family: "GeorgiaRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
}

.paragraph-s {
  font-family: Arial;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0;
  color: #B2B2B2;
}

a {
  color: inherit;
  text-decoration: inherit;
  box-sizing: border-box;
}
a.active {
  border-bottom: 3px solid #F1CDB3;
  pointer-events: none;
}
a:hover {
  color: #292929;
}

button, .button, .button-primary {
  transition: 0.8s;
}
button.button-primary, .button.button-primary, .button-primary.button-primary {
  background-color: #F1CDB3;
}
button.button-secondary, .button.button-secondary, .button-primary.button-secondary {
  border: 2px solid #F1CDB3;
  background-color: inherit;
}
button.button-round, .button.button-round, .button-primary.button-round {
  padding: 0;
  width: 52px;
  height: 52px;
  font-size: 20px;
  line-height: 23px;
}
button.button-round.arrow-button, .button.button-round.arrow-button, .button-primary.button-round.arrow-button {
  line-height: 0;
}
button.button-round.arrow-button:before, .button.button-round.arrow-button:before, .button-primary.button-round.arrow-button:before {
  content: "🠔";
}
button.button-round.arrow-button.arrow-button-next, .button.button-round.arrow-button.arrow-button-next, .button-primary.button-round.arrow-button.arrow-button-next {
  transform: scale(-1, -1);
}
button.active, .button.active, .button-primary.active {
  background: #F1CDB3;
  border-color: #F1CDB3;
  pointer-events: none;
}
button.inactive, .button.inactive, .button-primary.inactive {
  background: none;
  border-color: #CDCDCD;
  color: #CDCDCD;
  pointer-events: none;
}
button.inactive:before, .button.inactive:before, .button-primary.inactive:before {
  color: #CDCDCD;
}
button.make-friend-button, .button.make-friend-button, .button-primary.make-friend-button {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
button:hover, .button:hover, .button-primary:hover {
  background: #FDDCC4;
  border-color: #FDDCC4;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 40px;
  box-sizing: border-box;
  overflow: auto;
}
.footer-section .container {
  padding-top: 40px;
}

header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
header:last-child {
  margin-bottom: 30px;
}

nav {
  width: 443px;
  display: flex;
  justify-content: space-between;
}

.dark-section.top-section {
  background: url(../assets/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.dark-section.footer-section {
  background: url(../assets/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.pets-section, .donation-section {
  background: #F6F6F6;
}

.about-section .container, .pets-section .container, .help-section .container, .donation-section .container {
  padding-top: 80px;
  padding-bottom: 100px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 10px;
}
.logo .logo-title {
  font-family: "GeorgiaRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
  color: #545454;
}
.dark-section .logo .logo-title {
  color: #F1CDB3;
}
.logo .logo-subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #292929;
  margin-left: 4px;
}
.dark-section .logo .logo-subtitle {
  color: #FFFFFF;
}

.top-section .intro {
  margin-top: 90px;
}

.intro {
  display: flex;
}

.not-only-container {
  display: flex;
  width: 460px;
  margin: 163px 42px auto auto;
  gap: 42px;
  align-self: center;
  flex-flow: column;
}
.not-only-container .not-only-header {
  width: 310px;
}

.about-section .container {
  display: flex;
  align-items: center;
  gap: 120px;
  margin: auto;
  justify-content: center;
}
.about-section .container .about-text-block {
  width: 430px;
  display: flex;
  flex-flow: column;
  gap: 25px;
}
.about-section .container .about-text-block .about-header {
  width: 370px;
}

.pets-section .container {
  display: flex;
  flex-flow: column;
  gap: 60px;
  align-items: center;
}
.pets-section .container .pets-header {
  width: 400px;
  text-align: center;
}

.help-section .container {
  display: flex;
  flex-flow: column;
  gap: 60px;
  align-items: center;
}
.help-section .container .help-header {
  width: 310px;
  text-align: center;
}

.help-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 120px;
  row-gap: 55px;
  align-items: self-end;
}
.help-list > .child-item {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 30px;
}

.slider-wrapper {
  display: flex;
  gap: 53px;
  align-items: center;
}

.slider {
  display: flex;
  gap: 90px;
}
.slider.four-column-slider {
  flex-wrap: wrap;
  gap: 40px;
  row-gap: 30px;
}
.slider .slider-card {
  width: 270px;
  display: flex;
  flex-flow: column;
  background: #FAFAFA;
  border-radius: 9px;
  cursor: pointer;
  transition: 0.8s;
}
.slider .slider-card .card-name {
  font-family: "GeorgiaRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}
.slider .slider-card .card-info {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 30px;
  margin: 30px 0;
}
.slider .slider-card:hover {
  background: #FFFFFF;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.slider .slider-card:hover button, .slider .slider-card:hover .button, .slider .slider-card:hover .button-primary {
  background: #FDDCC4;
}

.slider-controls {
  display: flex;
  gap: 20px;
}

.donation-section .container {
  display: flex;
  margin: auto;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.donation-section .container .donation-text-block {
  width: 380px;
  display: flex;
  flex-flow: column;
  gap: 20px;
}
.donation-section .container .donation-text-block .donation-header {
  width: 300px;
}
.donation-section .container .donation-text-block .credit-card-block-wrapper {
  display: inline-block;
  background-color: #F1CDB3;
  padding: 10px 15px;
  border-radius: 9px;
}
.donation-section .container .donation-text-block .credit-card-block {
  display: flex;
  gap: 15px;
  line-height: 0;
}

.footer-section .container {
  display: flex;
  justify-content: space-between;
  gap: 160px;
}
.footer-section .container > .child-item {
  max-width: 300px;
}
.footer-section .container > .child-item:first-child {
  width: 280px;
}
.footer-section .container > .child-item:nth-child(-n+2) {
  margin-top: 16px;
}
.footer-section .container > .child-item:last-child {
  min-width: 300px;
}
.footer-section .container .footer-contacts {
  display: flex;
  flex-flow: column;
  gap: 40px;
}
.footer-section .container .footer-locations {
  display: flex;
  flex-flow: column;
  gap: 34px;
}
.footer-section .container .email-item, .footer-section .container .phone-item, .footer-section .container .location-item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.dark-section {
  color: #CDCDCD;
}
.dark-section h1, .dark-section h2, .dark-section h3, .dark-section h4, .dark-section h5 {
  color: #FFFFFF;
}
.dark-section a:not(.button):hover {
  color: #FAFAFA;
}
.dark-section a.active {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
  pointer-events: none;
}
.dark-section .footer-contacts a *, .dark-section .footer-locations a * {
  color: #F1CDB3;
}

/*# sourceMappingURL=style.css.map */
