@import '../abstracts/variables';

html {
  overflow: hidden;
}

body {
  display: flex;
  background-color: $main-color;
  font-family: 'Exo 2', 'Lato', 'Helvetica Neue', sans-serif;
  color: $text-color;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.2rem;
  margin: 0;
}

h2 {
  margin: 0;
}

a {
  color: inherit;
}

header,
footer {
  padding: 15px 15px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.footer__link {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.footer__icon {
  height: 2em;
  width: auto;
  filter: invert(1);
  opacity: 0.3;
}

.link__rss {
  content: url('../assets/img/rs_school_js.svg');
}

.link__github {
  content: url('../assets/img/logo-github.png');
}

.copyright::before {
  content: '©';
  margin-right: 0.5em;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2em;
  height: 100vh;
  overflow-y: scroll;
  justify-content: space-between;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border: solid 4px transparent;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    background-clip: padding-box;
    border-radius: 4px;
    border: solid 4px transparent;
  }
}

.right {
  width: 350px;
  right: 0;
  top: 0;
  background: $main-color-dark;
}
