$color-main: #fff;
$color-additional-1: #ec0033;
$color-additional-2: #00a876;
$color-additional-3: #bdf400;
$font-color-main: #555;
$font-color-additional-1: #bbb;
$font-color-additional-2: #888;

$border: 1px solid #ddd;

:root {
  --car-width: calc(6vw + 30px);
}

body {
  background: $color-main;
  color: $font-color-main;
}

.tab {
  display: inline-block;
  padding: 10px 25px;
  font-weight: 600;
  text-align: center;
  color: $font-color-additional-1;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    color: $font-color-main;
  }
}

.tab_input {
  display: none;
}

.tab_content {
  display: none;
  padding: 20px 0;
}

@for $i from 0 through 1 {
  #tab_input-#{$i}:checked ~ main #tab_content-#{$i} {
    display:block
  }

  #tab_input-#{$i}:checked ~ nav #tab-#{$i} {
    background: $color-additional-1;
    color: $font-color-main;
    color: $color-main;
  }
}

.car_image {
  -webkit-mask: url(../assets/img/car.svg) no-repeat center / contain;
  mask: url(../assets/img/car.svg) no-repeat center / contain;
  width: var(--car-width);
  height: calc(var(--car-width) / 3);
}

.table-winners {
  width: fit-content;
  counter-reset: winners-counter;
  border-collapse: collapse;

  th,
  td {
    border: 1px solid;
    padding: 5px 15px;
    text-align: center;
  }

  .num::before {
    counter-increment: winners-counter;
    content: counter(winners-counter);
  }

  & .car_image {
    --car-width: 80px;
  }
}
