@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

$color-main: #fff;
$color-additional-1: #ec0033;
$color-additional-2: #00a876;
$color-additional-3: #bdf400;
$font-color-main: #555;
$font-color-additional-1: #bbb;
$font-color-additional-2: #888;

$border: 1px solid #ddd;

$edit-form-z-index: 299;

:root {
  --car-width: calc(2vw + 50px);
  --car-height: calc(var(--car-width) / 3)
}

@mixin pagerControl($type) {
  display: block;
  content: '';
  background-image: url('../assets/img/chevron-' + #{$type} + '.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 40%;
  height: 35%;
}

body {
  background: $color-main;
  color: $font-color-main;
  font-family: 'Manrope', sans-serif;
}

.button {
  display: inline-block;
  outline: 0;
  border: 1px solid $color-additional-2;
  font-weight: 600;
  background: $color-main;
  padding: 0 8px 1px;
  border-radius: 4px;
  height: 30px;
  transition: all 0.1s linear;
  cursor: pointer;

  &:hover{
      box-shadow: 0 1px 3px 0 $color-additional-2;
      background: darken($color-main, 3);
  }
}

.input-type-color {
  align-self: center;
  width: 30px;
  height: 30px;
}

nav {
  display: flex;
  gap: 5px;
}

.tab {
  display: inline-block;
  padding: 10px 25px;
  box-sizing: border-box;
  font-weight: 600;
  text-align: center;
  color: $font-color-additional-1;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    box-shadow: 0 1px 2px 0 $color-additional-1;
    color: $font-color-main;
  }
}

.tab_input {
  display: none;
}

.tab_content {
  display: none;
  padding: 20px 0;
}

@for $i from 0 through 1 {
  #tab_input-#{$i}:checked ~ main #tab_content-#{$i} {
    display:block
  }

  #tab_input-#{$i}:checked ~ nav #tab-#{$i} {
    background: $color-additional-1;
    color: $font-color-main;
    color: $color-main;
  }
}

.garage-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.control {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.race-controls {
  display: flex;
  gap: 8px;
}

.create-car-form {
  display: flex;
  gap: 8px;
}

.table-garage {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .table-info {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: end;
  }

  .table-items {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .table_item {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

}

.car-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.track {
  position: relative;
  border-bottom: 2px dashed;
  height: var(--car-height);

  &::after {
    $size: calc(var(--car-width) * 0.6);
    position: absolute;
    right: var(--car-width);
    bottom: 0;
    content: '';
    background-image: url('../assets/img/flag.png');
    background-size: cover;
    height: $size;
    width: $size;
  }
}

.car_image {
  -webkit-mask: url(../assets/img/car.svg) no-repeat center / contain;
  mask: url(../assets/img/car.svg) no-repeat center / contain;
  width: var(--car-width);
  height: var(--car-height);
}

.table-winners {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: max-content;

  .table-info {
    display: flex;
    gap: 50px;
    align-items: center;
  }

  .table-items {
    width: fit-content;
    counter-reset: winners-counter;
    border-collapse: collapse;

    thead {
      font-weight: 600;
    }

    th,
    td {
      border: 1px solid;
      padding: 5px 1vw;
      text-align: center;
    }

    .num::before {
      counter-increment: winners-counter;
      content: counter(winners-counter);
    }

    & .car_image {
      --car-width: 50px;
    }
  }

}

.pager {
  display: flex;
  gap: 5px;
}

.pager_item {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.current {
    background-color: $color-additional-2;
    color: $color-main;
    font-weight: 600;
    pointer-events: none;
  }

  &.prev,
  &.next {
    border: 1px solid $color-additional-2;

    &:hover {
      box-shadow: 0 1px 3px 0 $color-additional-2;
      background: darken($color-main, 6);
    }
  }

  &.prev::after {
    @include pagerControl(left);
  }

  &.next::after {
    @include pagerControl(right);
  }

  &.inactive {
    border-color: $font-color-additional-1;
    pointer-events: none;
  }
}

.car_edit-container {
  display: flex;
  gap: 5px;
  position: relative;
}

.edit-car-form {
  display: none;
  position: absolute;
  top: 35px;
  padding: 8px;
  gap: 5px;
  background-color: $color-main;
  border: 2px solid $color-additional-2;
  border-radius: 5px;
  z-index: $edit-form-z-index;

  &.show {
    display: flex;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-bottom-color: $color-additional-2;
    border-top: 0;
    border-left: 0;
    margin-left: -6px;
    margin-top: -12px;
  }
}

.car_remove,
.car_edit {
  width: 25px;
  height: 25px;
  padding: 0;

  &::after {
    display: block;
    content: '';
    background-image: url('../assets/img/pencil.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 60%;
    height: 70%;
    margin: auto;
  }
}

.car_remove::after {
  background-image: url('../assets/img/trash.svg');
}
