$main-color: #2e2a23;
$text-color: rgba(255, 255, 255, 0.3);

$edtr-bckgrnd-light: #efefef;
$edtr-clr-light: #aaa;
$edtr-bckgrnd-dark: rgba(0, 0, 0, 0.3);

$tsk-inpt-z-index: 300;
$tsk-inpt-margin-left: 40px;
$tsk-inpt-margin-right: 5px;
