$main-color: #2e2a23;
$main-color-dark: #1b1813;
$text-color: #64615c;
$text-color-grey: #aaa;
$white-01: rgba(255, 255, 255, 0.1);
$white-02: rgba(255, 255, 255, 0.3);
$white-03: rgba(255, 255, 255, 0.7);
$black-02: rgba(0, 0, 0, 0.2);
$green-01: #a3e261;
$orange-01: #e2d561;
$pink-01: #f94848;
$pink-02: #f97d7d;
$black-03: #404040;
$black-04: #4d4d4d;
$shadow-color: #007421;

$edtr-border: #0e0d0a;
$editr-color: #a2a1a0;
$editr-bckgrnd: #171511;
$edtr-bckgrnd-light: #efefef;
$edtr-clr-light: $text-color-grey;
$edtr-bckgrnd-dark: rgba(0, 0, 0, 0.3);

$tsk-inpt-z-index: 300;
$tsk-inpt-margin-left: 40px;
$tsk-inpt-margin-right: 5px;

$dscrptn-color: #8a8a8a;
$lvl-header-clr: #878685;
$syntax-bckgrnd: rgba(255, 255, 255, 0.05);
