@import '../abstracts/variables';

.description {
  display: none;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
  color: $dscrptn-color;
  background-color: $main-color-dark;

  &.open {
    display: flex;
  }
}

.description-top {
  display: flex;
  justify-content: space-between;
}

.description-close {
  position: relative;
  display: flex;
  width: 30px;
  align-items: center;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: $dscrptn-color;
    transform: rotate(45deg);
    transform-origin: center;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: $white-03;
  }

}

.level-header {
  font-size: 1.6rem;
  font-weight: 600;
  color: $lvl-header-clr;
}

.description-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.description-subtitle {
  font-size: 1.1rem;
  font-weight: 300;
  opacity: 0.7;
}

.syntax {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 1rem 0 1.025rem 0;
  opacity: .8;
  background: rgba(255, 255, 255, 0.08);
  display: inline-block;
  padding: 0.26rem 0.5rem;
  border-bottom: solid 2px $white-02;
}

.help {
  line-height: 1.5;
}

.examples {
  margin-top: 3.1rem;
}

.examples__title {
  margin-bottom: 0.625rem;
  font-weight: 600;
}

.example {
  border-bottom: solid 1px $white-01;
  padding: 0.625rem 0 0.75rem 0;
  line-height: 1.7;

  &:last-child {
    border: none;
  }
}

.examples strong,
.examples tag,
.help strong,
.help tag {
  color: $text-color-grey;
  background: $white-01;
  padding: 2px 4px 2px 4px;
  margin: 0px 2px;
  font-size: 0.82rem;
  font-family: menlo, monospace;
  font-weight: normal;
}

tag {

  &:before {
    content: "<";
  }

  &:after {
    content: ">";
  }

}

.state {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.2rem;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px 0px;
}

.levels-list {
  display: flex;
  flex-direction: column;
  color: $dscrptn-color;
}

.level__item {
  display: flex;
  gap: 0.6em;
  padding: 5px 20px;
  cursor: pointer;

  &.current {
    font-weight: bold;
    color:$text-color-grey;
    background-color: rgba(255, 255, 255, 0.08);
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.checkmark {
  display: inline-block;
  width: 0.4em;
  height: 0.7em;
  border-right: 3px solid;
  border-bottom: 3px solid;
  border-color: $dscrptn-color;
  transform: rotate(45deg);
  margin-right: 0.3em;

  .passed & {
    border-color: $green-01;
  }
}

.level-info {
  display: flex;
  content: 'i';
  font-size: 0.8em;
  font-weight: 600;
  border: 2px solid;
  border-color: inherit;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  justify-content: center;
  align-items: center;
  align-self: center;
  cursor: pointer;

  &::before {
    content: 'i';
  }

  &:hover {
    color: $white-03;
    border-color: $white-03;
  }
}

.reset-progress {
  margin: 0 20px;
  border: 2px solid rgba(255, 255, 255, 0.08);
  padding: 0.6em;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.03);
  }
}

