@import '../abstracts/variables';
@import '../abstracts/keyframes';

.editor {
  display: flex;
  margin: 0 5vw;
  border: 10px solid $edtr-border;
  font-family: menlo, monospace;
  font-size: 0.875rem;
}

.css-editor,
.html-editor {
  width: 100%;
}

.editor-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: $editr-color;
  background-color: $editr-bckgrnd;

  .file-name {
    opacity: 0.5;
  }
}

.editor-area {

  &.theme-light {
    background: $edtr-bckgrnd-light;
    color: $edtr-clr-light;
  }

  &.theme-dark {
    background: $edtr-bckgrnd-dark;
  }

  .cm-activeLine,
  .cm-activeLineGutter {
    background: none;
  }

  .highlight,
  .highlight * {
    color: white;
  }

  .cm-foldGutter span {
    display: none;
  }

  .cm-lineNumbers {
    padding: 0 5px;
  }

}

.task-input-wrapper {
  position: absolute;
  top: 4px;
  display: flex;
  gap: 5px;
  width: calc(100% - #{$tsk-inpt-margin-left} - #{$tsk-inpt-margin-right});
  margin: 0px $tsk-inpt-margin-right 0 $tsk-inpt-margin-left;
  z-index: $tsk-inpt-z-index;
}

.task-input {
  flex: 1;
  font-size: inherit;
  line-height: 1.4;
  background: none;
  outline: none;
  border: none;

  &.blink {
    animation: blinker 1s linear infinite;
  }
}

.tremble {
  animation: trembling 0.5s infinite;
}

.task-input-btn {
  background: #d6d6d6;
  border: 2px outset #ececec;
  cursor: pointer;
  letter-spacing: 0.05em;

  &:active {
    border: 2px inset #ececec;
  }
}