@import '../abstracts/mixins';
@import '../abstracts/keyframes';

.gameboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5vh;
}

.game-wrapper {
  margin: -20px auto 20px auto;
}

.table {
  @include woodTexture();
  @include perspectiveTransform();

  padding: 0.5em 1em 0.6em 1em;
  width: fit-content;
  min-width: 200px;
  min-height: 100px;
  box-shadow: 0 0 40px 10px $black-02;

  & .highlight {
    filter: drop-shadow(0px 0px 8px $shadow-color);
  }
}

.table__edge {
  @include woodTexture();
  @include perspectiveTransform(down);

  position: relative;
  height: 10px;
  min-width: 200px;
  filter: brightness(0.5);
}

.table__leg_left {
  @include tableLeg(left);
}

.table__leg_right {
  @include tableLeg(right);
}

.task__header {
  font-size: 2.7rem;
  font-weight: 400;
}

plate {
  display: inline-block;
  background-image: url('../assets/img/plate.png');
  background-size: cover;
  width: 100px;
  height: 100px;
}

board {
  display: inline-block;
  background-image: url('../assets/img/cutting-board.png');
  background-size: cover;
  width: 100px;
  height: 100px;
}

watermelon {
  display: inline-block;
  background-image: url('../assets/img/watermelon.png');
  background-size: cover;
  width: 60px;
  height: 60px;
}

.shake {
  animation: shaking 1s infinite ease;
}

.fly {
  animation: flying 0.3s 1;
  transform: translateY(-100vh);
}

.win-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 2.3rem;
  font-weight: bold;
}

.help-button {
  position: relative;
  top: 0;
  left: 0;
  padding: 7px 20px;
  background-color: $pink-01;
  box-shadow: 0px 7px 0 $green-01;
  border-radius: 20px;
  font-size: 1.05rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: $black-03;
  cursor: pointer;

  &:hover {
    background-color: $pink-02;
    color: $black-03;
  }

  &:active {
    top: 7px;
    box-shadow: none;
  }
}

.tooltip {
  display: none;
  position: absolute;
  width: fit-content;
  white-space: nowrap;
  padding: 10px;
  font-size: 1.1rem;
  background-color: aliceblue;

  &.show {
    display: block;
  }
}