@import '../abstracts/mixins';
@import '../abstracts/keyframes';

.gameboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.table {
  @include woodTexture();
  @include perspectiveTransform();

  padding: 1em 1em 1.1em 1em;
  width: fit-content;
  min-width: 200px;
  min-height: 100px;
  box-shadow: 0 0 40px 10px $black-02;
}

.table__edge {
  @include woodTexture();
  @include perspectiveTransform(down);

  position: relative;
  height: 10px;
  min-width: 200px;
  filter: brightness(0.5);
}

.table__leg_left {
  @include tableLeg(left);
}

.table__leg_right {
  @include tableLeg(right);
}

.task__header {
  font-size: 2.9rem;
  font-weight: 400;
}

plate {
  display: inline-block;
  background-image: url('../assets/img/plate.png');
  background-size: cover;
  width: 100px;
  height: 100px;
}

board {
  display: inline-block;
  background-image: url('../assets/img/cutting-board.png');
  background-size: cover;
  width: 100px;
  height: 100px;
}

.shake {
  animation: shaking 1s infinite ease;
}

.fly {
  animation: flying 0.3s 1;
  transform: translateY(-100vh);
}