$light-grey-l: #ececec;
$grey-l: #bdbdbd;
$dark-grey-l: #8e8e8e;
$light-grey-d: #8e8e8e;
$grey-d: #686868;
$dark-grey-d: #4e4e4e;
$blue: #2196f3;
$black: #1b1b1b;
$red: #e60000;
$white: #ffffff;
$cell-l: darken($grey-l, 5%);
$cell-d: darken($grey-d, 5%);
$border-l: darken($dark-grey-l, 10%);
$border-d: darken($dark-grey-d, 90%);

$switcher-size: 30px;
$game-field-border-size: 4px;
$game-field-edge-size: 6px;
$cell-size: 24px;

$overlay-z-index: 999;
$popup-z-index: $overlay-z-index + 1;

$cell-types: (
  'm': 'mine',
  'f': 'flag',
  '1': 'digit1',
  '2': 'digit2',
  '3': 'digit3',
  '4': 'digit4',
  '5': 'digit5',
  '6': 'digit6',
  '7': 'digit7',
  '8': 'digit8',
);

$rows-number: (10, 15, 25);

:root {
  --settings-direction: row;
  --settings-gap: 50px;
}

.theme-light {
  --grey-color: #{$grey-l};
  --light-grey-color: #{$light-grey-l};
  --dark-grey-color: #{$dark-grey-l};
  --cell-color: #{$cell-l};
  --cells-border: #{$border-l};
  --font-color: #000000;
  --cell-exploded: #{$red};
}
.theme-dark {
  --grey-color: #{$grey-d};
  --light-grey-color: #{$light-grey-d};
  --dark-grey-color: #{$dark-grey-d};
  --cell-color: #{$cell-d};
  --cells-border: #{$border-d};
  --font-color: #ffffff;
  --cell-exploded: #{$red};
}

@font-face{font-family: DS Digital; src: url(../assets/fonts/Ds_digital/DS-DIGI.TTF) }

/* Switcher mixin */
@mixin switcher($type, $icon-on, $icon-off) {
  .minesweeper__#{$type} {
    position: relative;
    display: inline-block;
    width: calc($switcher-size + ($switcher-size / 2));
    height: 15px;
  }

  .#{$type}-switcher__input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .#{$type}-switcher__toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $grey-l;
    border-radius: calc($switcher-size / 2);
    -webkit-transition: 0.4s;
    transition: 0.4s;

    .#{$type}-switcher__input:checked + & {
      background-color: $blue;
    }

    &:before {
      position: absolute;
      content: "";
      height: $switcher-size;
      width: $switcher-size;
      border-radius: 50%;
      left: 0;
      bottom: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      box-shadow: 0 0px 10px $dark-grey-l;
      background: white url('../assets/icons/' + #{$icon-off});
      background-repeat: no-repeat;
      background-position: center;
      background-size: 65%;

      .#{$type}-switcher__input:checked + & {
        $translateX: calc($switcher-size / 2);
        -webkit-transform: translateX($translateX);
        -ms-transform: translateX($translateX);
        transform: translateX($translateX);
        background: white url('../assets/icons/' + #{$icon-on});
        background-repeat: no-repeat;
        background-position: center;
        background-size: 65%;
      }
    }
  }
}

@mixin range-thumb {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: $blue;
  border: none;
  box-shadow: 0 0 2px $grey-l;
}

@mixin range-track {
  background: $blue;
}

@mixin game-field-border($type: inset) {
  border: $game-field-border-size $type var(--light-grey-color);
}

@mixin stat-field($icon) {
  display: flex;
  width: 90px;
  height: 40px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background: $black;
  padding: 0 5px;
  color: $red;
  font-family: DS Digital;
  font-size: 32px;

  &:before {
    content: '';
    background-image: url('../assets/icons/#{$icon}');
    background-size: cover;
    width: 20px;
    height: 20px;
  }
}

@mixin score-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2px 10px;
  gap: 20px;
  min-height: 1em;
}

.page {
  background-image: url('../assets/images/background.jpg');
  background-repeat: repeat;
  padding: 0;
  margin: 0;

  &.frozen {

    & .overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: $overlay-z-index;
    }
  }
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  min-height: 200px;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 1.3em;
  gap: 30px;
  z-index: $popup-z-index;

  &.open {
      display: flex;
  }
}

.popup__message {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup__button {
  padding: 10px 40px;
  background-color: $grey-l;
  cursor: pointer;
  border: none;

  &:hover,
  &:active {
    background-color: $blue;
  }
}

.won-emodji {
  font-size: 3em;

  &:before {
    content: '\1F60E';
  }
}

.lost-emodji {
  font-size: 3em;

  &:before {
    content: '\1F615';
  }
}

.container {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.minesweeper__header {
  color: $white;
}

.minesweeper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 30px 0;
  background-color: $white;
}

@each $row in ('first', 'third', 'fourth') {
  .minesweeper__row-#{$row} {
    display: flex;
    gap: 50px;
    margin: auto;
  }
}

/* Calculate the size of cell */
@function calcCellSize($number) {
  $result: calc((100vw - 2 * (2 * $game-field-border-size + $game-field-edge-size)) / $number);
  $result: max($result, 18px);

  @return min($result, $cell-size);
}

.minesweeper__row-second {
  display: flex;
  flex-direction: var(--settings-direction);
  gap: var(--settings-gap);
  margin: auto;
}

.minesweeper__mode,
.minesweeper__mines-count {
  display: flex;
  gap: 15px;
  align-items: center;
}

.setting-block {
  display: flex;
  gap: 10px;
  align-items: center;
}

.setting-name {
  font-weight: 600;
}

.mode-easy,
.mode-medium,
.mode-hard {
  width: auto;
	box-sizing: border-box;
	appearance: none;
  -webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	cursor: pointer;
  padding: 10px 20px;
	background: $grey-l;
  font-size: 0.9em;
  margin: 0;

  &:checked {
    background: $blue;
  }

  &:before {
    content: attr(label);
    display: inline-block;
    text-align: center;
    width: 100%;
  }
}

.count {
  appearance: none;
  -webkit-appearance: none;
	-moz-appearance: none;
  outline: none;
  height: 15px;
  background: $grey-l;
  border-radius: 15px;

  &::-moz-range-thumb {
    @include range-thumb();
  }
  &::-webkit-slider-thumb {
    @include range-thumb();
  }
}

.mines-count__value {
  opacity: 0.4;
}

/* Theme switcher */
@include switcher('theme', 'icon--sun.png', 'icon--moon.png');

/* Sound switcher */
@include switcher('sound', 'icon--volume.png', 'icon--mute.png');

.minesweeper__game {
  display: flex;
  flex-direction: column;
  gap: $game-field-edge-size;
  margin: auto;
  box-sizing: border-box;
  background: var(--cell-color);
  padding: $game-field-edge-size;
  @include game-field-border(outset);
}

.minesweeper__stat {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  @include game-field-border();

  & > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.stat__remaining {
  @include stat-field('icon--mine-l.png');
}

.stat__flags {
  @include stat-field('icon--flag.png');
}

.stat__steps {
  @include stat-field('icon--steps-l.png');
}

.stat__time {
  @include stat-field('icon--time-l.png');
}

.minesweeper__field {
  display: grid;
  width: fit-content;
  @include game-field-border();

  @each $number in $rows-number {
    &.field_rows_#{$number} {
      grid-template-columns: repeat(#{$number}, calcCellSize($number));

      & .cell {
        width: calcCellSize($number);
        height: calcCellSize($number);
      }
    }
  }
}

.cell {
  box-sizing: border-box;
  background: var(--cell-color);
  cursor: pointer;

  &.cell_closed {
    background: var(--grey-color);
    border: 3px outset var(--light-grey-color);

    &:not(.type_f):active {
      border: none;
    }
  }

  @each $type, $icon in $cell-types {
    &.type_#{$type} {
      background-image: url('../assets/icons/icon--#{$icon}.png');
      background-size: 85%;
      background-repeat: no-repeat;
      background-position: center;

      @if $type != 'f' and $type != 'm' {
        .theme-dark & {
          background-image: url('../assets/icons/icon--#{$icon}-inv.png');
        }
      }
    }
  }

  &.cell_opened {
    @for $i from 0 through 24 {
      @for $j from 0 through 24 {
        &.cell_#{$i}_#{$j} + &.cell_#{$i}_#{$j + 1} {
          border-left: 1px solid var(--cells-border);
        }
        &.cell_#{$i}_#{$j} ~ &.cell_#{$i + 1}_#{$j} {
          border-top: 1px solid var(--cells-border);
        }
      }
    }
  }

  &.cell_exploded {
    background-color: var(--cell-exploded);
  }
}

.restart {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 4px outset var(--light-grey-color);
  cursor: pointer;
  background: var(--grey-color) url('../assets/icons/icon--restart.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;

  &:active {
    border: 3px inset var(--light-grey-color);
  }
}

.score__header {
  font-weight: 600;
}

.score__table {
  width: fit-content;
  margin: auto;
  border: 1px solid $dark-grey-l;

  & .table__head {
    @include score-row;
    background: $blue;
  }

  & .table__row {
    @include score-row;

    &:nth-child( odd ) {
      background: $light-grey-l;
    }
  }
}

@media screen and (max-width: 660px) {
  :root {
    --settings-direction: column;
    --settings-gap: 20px;
  }
}